body {
    background: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 700px;


}
head{
    background-color: beige;
    border-color: black;
    border-top-color: black;
}
